DOCKERHUB_NAMESPACE=your-dockerhub-username
IMAGE_TAG=0.1.0
COMPOSE_PROJECT_NAME=devops-course
NGINX_PORT=8080
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=app_dev_password
APPLICATION_ENV=development
CONFIG_CIPHER=11af4e5a2ee4f1c76ae2f61b4ec5da962ea9accf0a056fa1a2d4dd0731df660e
UID=1000
GID=1000
